.history .description {
    font-size: small;
    font-style: italic;
    white-space: pre-wrap;
}

.history td p {
    margin-bottom: 0.25rem;
}
.history td p:last-child {
    margin-bottom: 0;
}

.history .ardaLang {
    font-weight: 500;
}
.history .secondary {
    font-weight: 100;
}
.history .nobr {
    white-space: nowrap;
}
