h6 .date {
    font-style: italic;
    float: right;
}

.comment {
    font-size: smaller;
    font-style: italic;
}
:global(.card-header) .comment {
    margin-bottom: 0;
}

.author {
    font-style: italic;
    color: rgba(0, 0, 0, 0.65);
}

.sources {
    font-size: smaller;
    margin-bottom: 1em;
}
.sources header {
    font-weight: 600;
}
.sources p {
    margin-bottom: 0;
}

.translationContent {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
