.navbar-brand {
  padding-top: 0;
}

.main {
  padding: 0 15px;
}

.exp > span {
  cursor: pointer;
}
.exp > span::after {
  margin: 0 5px;
  color: #007bff;
}
.exp.expanded > span::after {
  content: "-";
}
.exp.collapsed > span::after {
  content: "+";
}

.counter {
  margin: 0 5px;
  color: rgba(0, 0, 0, .5);
}
.counter > span {
  margin: 0 5px;
  color: #f88;
}

.success {
  color: #28a745;
}
