.poem {
  margin-bottom: 1em;
}

.poem .card-text {
  white-space: pre-wrap;
}

.poem .card-footer {
  font-size: smaller;
  padding-top: 0;
  font-style: italic;
  background-color: inherit;
  border-top: none;
}

.poem.original .card-text {
  font-weight: bold;
  font-style: italic;
}

/* FONTS */
@font-face {
  font-family: Braille;
  src: url(assets/braille.ttf) format('truetype');
}
@font-face {
  font-family: Morse;
  src: url(assets/morse.ttf) format('truetype');
}
@font-face {
  font-family: HGNTransliteration;
  src: url(assets/HGNTransliteration-Unicode.ttf) format('truetype');
}
@font-face {
  font-family: Assurbanipal;
  src: url(assets/Assurbanipal.ttf) format('truetype');
}
@font-face {
  font-family: CuneiformNA;
  src: url(assets/CuneiformNA.ttf) format('truetype');
}

/* classes */
.braille .card-body {
  font-family: Braille;
  font-size: 24px;
}
.mono .card-body {
  font-family: monospace;
}
.morse .card-body {
  font-family: Morse;
  font-size: 24px;
}
.translit .card-body {
  font-family: serif;
  font-style: italic;
  font-size: 20px;
}
.translit.egypt .card-body {
  font-family: HGNTransliteration, serif;
  font-weight: bold;
  font-size: 24px;
}
.cuneiform-assur .card-body {
  font-size: 32px;
  font-family: Assurbanipal;
}
.cuneiform-na .card-body {
  font-size: 24px;
  font-family: CuneiformNA;
  font-weight: bold;
}
