.poem :global(.card-text) {
  white-space: pre-wrap;
}

.poem :global(.card-footer) {
  font-size: smaller;
  padding-top: 0;
  font-style: italic;
  background-color: inherit;
  border-top: none;
}

.poem.original :global(.card-text) {
  font-weight: bold;
  font-style: italic;
}

/* FONTS */
@font-face {
  font-family: Braille;
  src: url(assets/braille.ttf) format('truetype');
}
@font-face {
  font-family: Morse;
  src: url(assets/morse.ttf) format('truetype');
}
@font-face {
  font-family: HGNTransliteration;
  src: url(assets/HGNTransliteration-Unicode.ttf) format('truetype');
}
@font-face {
  font-family: Assurbanipal;
  src: url(assets/Assurbanipal.ttf) format('truetype');
}
@font-face {
  font-family: CuneiformNA;
  src: url(assets/CuneiformNA.ttf) format('truetype');
}

/* classes */
.textLarge :global(.card-body) {
  font-size: 20px;
}
.braille :global(.card-body) {
  /*noinspection CssNoGenericFontName*/
  font-family: Braille;
  font-size: 24px;
}
.mono :global(.card-body) {
  font-family: monospace;
}
.morse :global(.card-body) {
  /*noinspection CssNoGenericFontName*/
  font-family: Morse;
  font-size: 24px;
}
.translit :global(.card-body) {
  font-family: serif;
  font-style: italic;
  font-size: 20px;
}
.translit.hgn :global(.card-body) {
  font-family: HGNTransliteration, serif;
  font-weight: bold;
  font-size: 24px;
}
.cuneiformAssur :global(.card-body) {
  font-size: 32px;
  /*noinspection CssNoGenericFontName*/
  font-family: Assurbanipal;
}
.cuneiformNA :global(.card-body) {
  font-size: 24px;
  /*noinspection CssNoGenericFontName*/
  font-family: CuneiformNA;
  font-weight: bold;
}

.rtl :global(.card-body) {
  text-align: initial;
  direction: rtl;
  font-size: 24px;
  font-family: serif;
}
.rtl :global(.card-body) :global(.card-title) {
  font-size: 1.25em;
}
