.poem {
  margin-bottom: 1em;
}

.poem .card-text {
  white-space: pre-wrap;
}

.poem .card-footer {
  font-size: smaller;
  padding-top: 0;
  font-style: italic;
  background-color: inherit;
  border-top: none;
}

.poem.original .card-text {
  font-weight: bold;
  font-style: italic;
}
